
<div class="about">

  <h1>  Hi, I'm Rachel. Thanks for checking me out here! If you like something you've seen here or want to give me any tips, please feel free to email me! I am currently job searching and would love to be considered for a Front-End Developer position, preferably in the Washington, DC metro area.
  </h1>


    <div class=contact>
      <ul>
        <li><a href="mailto:raelwa@gmail.com">Email Me</a></li>
        <li><a href="images/Rachel_Warren_Resume.pdf">View My Resume (PDF)</a></li>
      </ul>
    </div>


  <h1>My interest in code started when I was in high school. I created my own website (thanks, Angelfire!) where all I needed to do was pick my favorite color and add some words to fit in to a predefined template.  I quickly became curious how things were working under the hood and I wanted to have more control. Then began my self-teaching of HTML and CSS (inline at the time) and it was a project I maintained and was proud of.  However, college came and I somehow didn't think to pursue it, and consequently forgot all about it.</h1>

  <img src="images/headshot.jpg" class="headshot"></img>

  <h1>Skip to the present. In 2014 I randomly came across an article that reminded me of those good times. In 2015 I decided to take a leap of faith, quit my job and attend a coding bootcamp full time. Best decision I've made in a long, long time.  I was a student at General Assembly during the summer/fall of 2015 in their Web Development Immersive program. In twelve short weeks I learned a whole gamut of information. HTML and CSS, JavaScript, then jumping to Ruby, Ruby on Rails, Active Record, MVC frameworks, agile methodology, just to name a few.  It was the most intensive and compelling learning experience imaginable, and it was more than I could have hoped for. You can check them out <a href="https://generalassemb.ly/">here</a>.</h1>


  <h1>Outside of code, I'm a runner, dog-owner, animal lover, listener of audiobooks, and belt-out-ballads-in-the-car kind of gal.  </h1>

  <h1>Please bookmark this site and come back soon to check out new projects I've been working on!</p></h1>

  <h1>-Rachel</h1>
</div>
