<div class="navigation" id="nav-top">
  <ul>
    <li><a href="" ng-click="helloWorld()">About Me</a></li>
    <li><a href="">Projects</a></li>
  </ul>
  <div class="social-icons">
    <a href="https://www.linkedin.com/in/rwarren17"><img src="images/social-icons/LinkedIn.png"</img></a>
    <a href="https://github.com/rewarren" id="github"><img src="images/social-icons/Github.png"</img></a>
    <a href="https://twitter.com/rachwarren17" id="twitter"><img src="images/social-icons/Twitter.png"</img></a>
    <a href="http://codepen.io/lehcar17/" id="codepen"><img src="images/social-icons/Codepen.png"</img></a>
  </div>
</div>
