.intro {
  color: #f4f1ed;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 45%;
  margin-top: -80px;
}

.intro h1 {
  font-size: 80px;
}

.intro h2 {
  font-size: 30px;
}

.intro h3 {
  margin-top: 20px;
  font-size: 80%;
}
